/* misc default styling */

.menu-separator {
    background-color: #ccc;
    height: 1px;
    margin: .3em 0;
}

.menu-horizontal .menu-separator {
    width: 1px;
    height: 1.3em;
    margin: 0 .3em ;
}

.menu-heading {
    text-transform: uppercase;
    color: #565d64;
}

.menu a {
    color: #777;
}

.menu-children {
    background-color: #fff;
}

.menu a,
.menu-disabled,
.menu-heading {
    padding: .5em 1em;
}

.menu-disabled {
    opacity: .5;
}

.menu a:hover,
.menu-disabled {
    background-color: transparent;
}

.menu-active > a,
.menu a:hover,
.menu a:focus {
    background-color: #eee;
}

.menu-selected a,
.menu-selected a:visited {
    color: #000;
}
